<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/main/java/POJO" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="generatedClassPathList">
          <list>
            <option value="C:\Users\We\Documents\Documents\Java\NEWS\src\main\java\POJO" />
          </list>
        </option>
        <option name="insertMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="DAO" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="POJO" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="NEWS" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="NEWS">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="DAO" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="POJO" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="Service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="Service" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="DAO" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/java" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="webnews:categorys">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="category_id" />
                  <option name="javaModelName" value="Categorys" />
                  <option name="moduleName" value="NEWS" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="webnews:comments">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="comment_id" />
                  <option name="javaModelName" value="Comments" />
                  <option name="moduleName" value="NEWS" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="webnews:data">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="data_id" />
                  <option name="javaModelName" value="Data" />
                  <option name="moduleName" value="NEWS" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="webnews:datashow">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="data_id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="javaModelName" value="DataShow" />
                  <option name="moduleName" value="NEWS" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="webnews:feedbacks">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="feedback_id" />
                  <option name="javaModelName" value="Feedbacks" />
                  <option name="moduleName" value="NEWS" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="webnews:news">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="news_id" />
                  <option name="javaModelName" value="News" />
                  <option name="moduleName" value="NEWS" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="webnews:picnews">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="PicNews" />
                  <option name="moduleName" value="NEWS" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="webnews:slidernews">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="newsId" />
                  <option name="javaModelName" value="SliderNew" />
                  <option name="moduleName" value="NEWS" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="webnews:users">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="user_id" />
                  <option name="javaModelName" value="Users" />
                  <option name="moduleName" value="NEWS" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="xmlMapperPackage" value="DAO" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/java" />
      </ProjectProfile>
    </option>
  </component>
</project>